@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;500;600;700;800&display=swap');

// font-family: 'Noto Serif', serif;

:root {
    --black: #021112;
    --black-shade: #677071;
    --black-shade-2: #CCCFD0;
    --black-shade-3: #E0E2E3;

    --secondary: #F93633;
    --secondary-shade: #FEECEB;

    --primary: #13A6BA;
    --primary-shade: #C8F3F9;

    --accent-1: #B3C41D;
    --accent-1-shade: #FBFCED;

    --accent-3: #772D8B;

    --accent-2: #F3C98B;
    --accent-2-shade: #FBEDDA;
    --accent-2-shade-2: #C8F3F9;
}

