.benefit {
    padding-top: 263px;
    padding-bottom: 100px;
    position: relative;
    background-color: #fff;

    &__container {
        display: flex;
        column-gap: 120px;
        align-items: center;
    }

    &__img {
        width: 900px;
        height: 883px;

        background-image: url('./../img/benefits/01.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        transition: all 0.2s ease-in;
        flex-shrink: 0;
        flex: 0 0 50%;
    }

    &__discover-place {
        position: absolute;
        bottom: 40px;
        left: 0;

        border-radius: 20px;
        background: #FFF;
        box-shadow: -12px 16px 46px 0px rgba(0, 0, 0, 0.08);
        padding: 34px 75px 34px 40px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        row-gap: 96px;
        &-title {
            color: var(--black, #021112);

            font-size: 58px;
            font-weight: 700;
            line-height: 1.56; /* 156.897% */
        }
    }

    &__info-cl {
        display: flex;
        flex-direction: column;
        row-gap: 64px;
    }

    &__cl-item {
        display: flex;
        column-gap: 32px;
    }
}

// IMG - PANEL

.discover {
    &__title {
        color: var(--black);
        font-size: 20px;
        font-weight: 600;
    }

    &__location {
        color: var(--black-shade-2);
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 17px;
    }

    &__img-row {
        display: flex;
        column-gap: 15px;
        align-items: center;
    }

    &__row-item {
        border-radius: 5px;
    }

    &__row-btn {
        background-color: var(--secondary);
        background-image: url('./../img/benefits/slide-icons/arrow-next.svg');
        background-position: center center;
        background-repeat: no-repeat;
        width: 60px;
        height: 60px;
        border-radius: 5px;
    }
}

// COLUMN WITH TEXT

.cl__item {
    &-img {
        background-color: var(--accent-1-shade);
        background-position: center center;
        background-repeat: no-repeat;
        width: 121px;
        height: 121px;
        border-radius: 10px;
    }

    &-img-protect {
        background-image: url('./../img/benefits/protection.svg');
    }

    &-img-house {
        background-image: url('./../img/benefits/house.svg');
    }

    &-img-transparancy {
        background-image: url('./../img/benefits/transparancy.svg');
    }

    &-text {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
    &-title {
        color: var(--black, #021112);


        font-size: 36px;
        font-weight: 600;
        line-height: 1.39; /* 138.889% */
    }
    &-desc {
        color: var(--black-shade, #677071);


        font-size: 20px;
        font-weight: 400;
        line-height: 1.45; /* 145% */
    }
}
